@import url(https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Montserrat&display=swap);

body {
  background-color: #36486b;
  font-size: 22px;
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1600px;
  background-color: #fefbd8;
  margin: 0 auto;
}

h1 {
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
}

h2 {
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
  margin: 0;
}

h3 {
  text-decoration: underline;
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  line-height: 1.1em;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}

h4 {
  color: #000000;
}

p {
  font-family: Abel, Helvetica, serif;
  color: #36486b;
  text-align: center;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

/*#hero-img{
    grid-column:2/3; This block doesn't change anything.
    grid-row:2/3;
  }*/

.card-img {
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: #618685;
  grid-column: 1/11;
  grid-row: 4/9;
}

.book,
.join {
  background-color: #618685;
  text-decoration: none;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 15px 30px;
}

.book:hover,
.join:hover {
  text-decoration: none;
  background-color: #4040a1;
}

.msg {
  background-color: #618685;
  text-decoration: none;
  line-height: 1.5em;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 35px;
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

nav {
  background-color: #fefbd8;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav a {
  color: #618685;
  text-decoration: none;
  text-align: center;
  padding: 35px;
}

nav li {
  font-family: Montserrat, Helvetica, sans-serif;
  list-style-type: none;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

nav a:hover {
  background-color: #4040a1;
  color: #fefbd8;
  text-decoration: underline;
}

.logo {
  width: 80px;
  position: relative;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

footer {
  grid-template-columns: 1fr max-content repeat(3, max-content);
  line-height: 3.5em;
  background-color: #618685;
  border: 1px solid #000;
  text-decoration: underline;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 50px;
}

header {
  align-items: center;
  background-color: #618685;
  display: grid;
  grid-template-columns: 150px auto;
}

.home-title {
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

.logo-box {
  background-color: #FFF;
  border-radius: 50px 50px 0 0;
  border: 1px solid #a43312;
  padding: .5em;
}

.socialmedia {
  padding-top: 15px;
}

.icon {
  width: 80px;
  height: 80px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  margin: 15px 10px 0 0;
}

#info {
  font-size: 12px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

.card-img,
.mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px black;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {

  #hero,
  .home-grid {
    display: block;
    height: auto;
  }

  nav,
  footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  .home-title {
    font-size: 25px;
    color: #6f7364;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    width: 60%;
    margin: 50px auto;
  }

  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  footer {
    margin-top: 25px;
  }

  #hero,
  #hero-msg {
    margin-top: 0;
  }

  #hero-msg h4,
  #background {
    display: none;
  }
}