@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Montserrat&display=swap');

body {
  background-color: #36486b;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fefbd8;
}



img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.1em;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
      border-top: 10px double;
    border-bottom: 10px double;
}


p {
  font-family: 'Abel', Helvetica, serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #36486b;
  padding: 10px;
  margin-top: 0;
  text-align: justify;
}



nav {
  background-color: #fefbd8;
  padding: 1em;
}

nav a{
 color: #618685;
line-height: 1.5em;
 text-decoration: none;
   padding: .25em .5em;
}

nav li {
  font-family: 'Montserrat', Helvetica, sans-serif;
  list-style-type: none;
}

nav ul {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav a:hover{
  background-color: #4040a1;
  color: #fefbd8;
}


img {
  max-width: 100%;
}

.logo {
  width: 150px;
  position: relative;
}

.banner {
  width: 100%;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.home-right-img {
  width: 400px;
  height: 300px;
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  margin: 10px 15px 5px -10px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.home-left-img {
  width: 400px;
  height: 300px;
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  margin: 0 10px 5px 10px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}
.logo-box {
  background-color: white;
  border: 1px solid black;
  
}

footer { 
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
  line-height: 3.5em;
  background-color: #618685;
  border: 1px solid black;
}

header {
  display: grid;
 grid-template-columns: 125px auto;
align-items: center;
}




.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.home-headline-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  margin: 10px 15px 0 15px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}
.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 4;
    margin: 10px 15px 0 15px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}
.home-headline-3 {
  grid-column: 1 / 6;
  grid-row: 7 / 7;
    margin: 10px 15px 0 15px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.home-paragraph-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.home-paragraph-2 {
  grid-column: 3 / 6;
  grid-row: 5 / 6;
}

.home-paragraph-3 {
  grid-column: 1 / 6;
  grid-row: 8;
  text-align: center;
}

.logo-box {
  background-color: white;
  border-radius: 50px 50px 0 0 ;   
  padding: 0.5em;
  border: 1px solid #a43312;
}

.socialmedia {
  padding: 5px;
}

.icon {
  width: 55px;
  height: 55px;
   box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 0 0;
}

#info {
  font-size: 12px;
}

