@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Montserrat&display=swap');

body {
  background-color: #36486b;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fefbd8;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.1em;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  border-top: 10px double;
  border-bottom: 10px double;
}

h3 {
  text-decoration: underline;
  font-family: 'Bebas Neue', Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.1em;
  color: #4040a1;
  background-color: #618685;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  border-top: 10px double;
  border-bottom: 10px double;
}

p {
  font-family: 'Abel', Helvetica, serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #36486b;
  padding: 10px;
  margin-top: 0;
  text-align: justify;
}

nav {
  background-color: #fefbd8;
  padding: 1em;
}

nav a {
  color: #618685;
  line-height: 1.5em;
  text-decoration: none;
  padding: .25em .5em;
  text-align: center;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #618685;
}

.book,
.join,
.book:hover,
.join:hover,
.msg {
  background-color: #618685;
  text-decoration: none;
}

nav li {
  font-family: 'Montserrat', Helvetica, sans-serif;
  list-style-type: none;
}

nav ul {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

nav a:hover {
  background-color: #4040a1;
  color: #fefbd8;
  text-decoration: underline;
}


.logo {
  width: 80px;
  position: relative;
}

.logo-box {
  background-color: white;
  border: 1px solid black;

}

footer {
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
  line-height: 3.5em;
  background-color: #618685;
  border: 1px solid black;
  text-decoration: underline;
}

header {
  display: grid;
  grid-template-columns: 125px auto;
  align-items: center;
  background-color: #618685;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.logo-box {
  background-color: white;
  border-radius: 50px 50px 0 0;
  padding: 0.5em;
  border: 1px solid #a43312;
}

.socialmedia {
  padding: 5px;
}

.icon {
  width: 80px;
  height: 80px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 0 0;
}

#info {
  font-size: 12px;
}

